@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* shake keyframe code from C3 website */

.jumbotron{
    text-align: center;
    color: rgb(233, 135, 152);
    background-image: url("http://deskbg.com/s3/wpp/0/282/black-and-white-roses-desktop-background.jpg");
    background-size: cover;
    height: 285px;
}
.dropdown-menu{
    text-align: center;
    float: none;
    position: relative;
}

body{
    padding-bottom: 10px;
    background-color: rgb(249, 249, 249)
}
article{
    padding:10px;
    line-height: 2;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 25px;
    color: rgb(233, 135, 152);
    font-family: 'Lato', sans-serif;
    clear:both;
    margin-bottom:5px;
}

aside{
    text-align: center;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 25px;
    color: rgb(233, 135, 152);
    font-family: 'Lato', sans-serif;
    clear: both;
    margin-bottom: 5px;
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
    color: rgb(233, 135, 152);
}
h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 3px;
}
h3{
    text-align: center;
}
p{
    color: gray;
}
.link{
    padding: 5px;
    color: rgb(233, 135, 152);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.link:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
    color: black;
}
.navbar-default .navbar-brand .navbar-nav>li>a{
    color: rgb(233, 135, 152);
}
#mepic{
    width: 220px;
    height: 180px;
    margin: 10px;
    float: left;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}
.portpic{
    width: 300px;
    height: 200px;
    margin: 10px;
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    z-index: 3;
}
.social{
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;  
}
.social:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
.footer{
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height:20px;
    color: gray;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    clear:both;
}

#contactform{
    text-align: center;
}
#fname, #lname, #message{
    width:50%;
    margin: 7px;
}
#message{
    height: 75px;
}
#fname:focus, #lname:focus, #message:focus{
    background: rgb(195, 238, 252);
}

#port{
    text-align: center;
    position: relative;
    z-index: 2;
 
}
.project{
    text-align: center;
}
.projectTitle{
    font-size: 20px;
}
@media all and (max-width: 992px){
.project {
    width: 100%;
}}